.row-feed{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}
.col-md-3-side-left{
	/*background-color: red;*/
	flex: 0 0 25%;
	max-width: 25%;
}

.col-md-3-side-right{
	flex: 0 0 25%;
	max-width: 25%;
	padding: 20px;
}

/*------------- INICIO FEED --------------*/
.col-md-6-feed{
	flex: 0 0 50%;
	max-width: 50%;
}

.head-feed{
	width:90%;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
}

.feed-updates-zone{
	background-color: #F0F0F0;
	border-radius: 10px;
	margin-top:15px;
	height:auto;
}

/*-------------- FIM FEED --------------*/

.button-side{
	display:inline-grid;
	margin-top: 35px;
	margin-left: 120px;
}

.button-side input{
	width: 135px;
    height: 31px;
    margin-bottom: 15px;
    border-radius: 15px;
    border-style: none;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-settings{
	margin-top:50px;
}

input.button-page {
    background: #4285F4;
    color: #fff;
}

/*************/
.dados-page{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-page {
    /* margin-left: 140px; */
    text-align: center;
}

p#descriptionPage {
    text-align: justify;
    padding: 40px;
}

.dados-user-publicacao {
    padding: 20px;
}

.img-page{
	display: flex;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width:40%;
	border-radius:40px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.nome-user{
	color:#4F515D;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;;
}

.info-user{
	display: flex;
    margin-left: auto;
    margin-right: auto;
	width:60%;
	text-align: center;
	margin-bottom: 10px;
}

.info-user-text{
	display: flex;
    margin-left: auto;
    margin-right: auto;
	width:60%;
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: justify;
	
}

.feed-vagas h5 {
    padding-top: 25px;
    padding-left: 35px;
}

.tipo-vaga li {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    list-style: none;
    background-color: #fff;
    width: 25%;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
	font-weight: 600;
}

.tipo-vaga button {
    width: 90px;
    height: 31px;
    margin-top: 15px;
    border-radius: 15px;
    border-style: none;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    background: #4285F4;
    color: #fff;
}

.dados-vaga {
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 50px;
}

p#titleVaga {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
	text-align: center;
}

.dados-vaga p {
    font-weight: 800;
    margin-bottom: 15px;
}

input.btnCandidatos{
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
    width: 200px;
    height: 30px;
    background-color: #4285F4;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
}

.candidatos p {
    text-align: center;
    font-style: italic;
}

.candidatos {
    border-top: 1px dotted #C4C4C4;
    padding-bottom: 20px;
}