<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Criar Pagina</title>
	<link rel="stylesheet" type="text/css" href="/static/feed.css">
    <link rel="stylesheet" type="text/css" href="/static/criar_pagina.css">
</head>
<body>
	<%- include('./partials/menu'); %>
    <div class="body-feed">
    	<div class="row-feed">
        	<div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
				<p class="nome-pages-menu">Criar Página</p>
            </div><!--FIM MENU ESQUERDO-->
           
			<div class="col-md-6-feed"> <!--INICIO FEED-->
				<div class="head-feed">
					<div class="pages-updates-zone">
						<div class="area-cadastro">
							<div class="info-basica-page">
								<div class="row">
								</div>
								<div class="menu-info-basica">
									<div class="row-tipo-pagina">
										<div class="col-md-12">
											<p>Título da Página: </p>
											<input class="info-page-edit" type="text" id="tituloPage" value= "" >
										</div>
									</div>
									<div class="row-tipo-pagina">
										<div class="col-md-12">
											<p>Descrição: </p>
											<textarea class="info-page-edit" type="text" id="descricao" value= ""></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="menu-about-page">
									<h6>Sobre a página</h6>
										<div class="row-select">
											<div class="col-md-3">
												<p class="nome-select-page">Categoria: </p>
											</div>
											<div class="col-md-9">
												<select class="info-page-edit" id="categoria">
													<option></option>
													<option value="Alimentos">Alimentos e Bebidas</option>
													<option value="TI">Tecnologia e Informação</option>
													<option value="Telecom">Telecomunicações</option>
													<option value="Construcao">Construção</option>
													<option value="Contabilidade">Contabilidade</option>
												</select>
											</div>
										</div>
										<div class="row-select">
											<div class="col-md-3">
												<p class="nome-select-page">Tipo de Empresa: </p>
											</div>
											<div class="col-md-9">
												<select class="info-page-edit" id="tipoEmpresa">
													<option></option>
													<option value="Privada">Empresa Privada</option>
													<option value="Publica">Empresa Pública</option>
													<option value="Instituicao">Instituição de Ensino</option>
													<option value="ONG">ONG</option>
													<option value="Autonomo">Autonomo</option>
												</select>
											</div>
										</div>
										<div class="row-select">
											<div class="col-md-2">
												<p class="nome-select-page">Estado: </p>
											</div>
											<div class="col-md-4">
                                				<select class="info-page-edit" id="uf" name="estado">
                                    				<option></option>
                                				</select>
											</div>
											<div class="col-md-2">
												<p class="nome-select-page">Cidade: </p>
											</div>
											<div class="col-md-4">
												<select class="info-page-edit" id="cidade" name="cidade">
													<option></option>
												</select>
											</div>
										</div>
						</div>	
						<div class="row">
							<div class="col-md-6-botoes">
								<input class="botaoredefinir" type="button" onclick="createPagina()" value="Salvar">
								<!--<button class="botaocriarconta" type="button" onclick="createUser()">Criar Conta</button>-->
							</div>
						<div class="col-md-6-botoes">
							<!--<form action="/logoff" method="post">  -->
							<a href="http://localhost:8080/minhas-paginas">
								<input class="botaovoltar" type="button" value="Voltar">
							</a>
							<!--</form>-->
						</div>




					</div>
				</div>
        	</div> <!--FIM FEED-->
        <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO--></div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/scripts/criar-paginas.js"></script>
<script src="/scripts/select-estados.js"></script>
</body>
</html>