<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
    <link rel="stylesheet" type="text/css" href="/static/editar_perfil.css">
</head>
<body>
	<%- include('./partials/menu'); %>
    <div class="body-feed">
        <div class="row-feed">
            <div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
            </div> <!--FIM MENU ESQUERDO-->
        
            <div class="col-md-6-feed"> <!--INICIO FEED-->
                <div class="info-user-area-edit">
                    <h5>Editar Perfil</h5>
                        <div class="row">
                            <form method="post" enctype="multipart/form-data" action="/upload">
                                <div class="max-width">
                                    <div class="imageContainer">
                                        <img src="/static/img/camera.png" alt="Selecione uma imagem" id="imgPhoto" class="img-profile" type="button">
                                    </div>
                                </div>
                            
                           <!--   
                          <label for="imagemPhoto"><img src="static/img/mais_icone.png" id="imgPhoto"></label>-->
                            <input type="file" id="fileImage" name="fileImage" accept="image/*">
                        
                        </div> 
                        <div class="menu-info-user">
                            <div class="row">
                                <div class="col-md-7">
                                    <p>Nome: </p><input class="nome-user-edit" type="text" id="Editnome" value= "">
                                </div>
                                <div class="col-md-5">
                                    <p>Sobrenome: </p><input class="info-user-edit" type="text" id="Editsobrenome" value="">
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-4">
                                        <p>Data de Nascimento: </p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" class="info-user-edit" id="Editnascimento"></input>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Estado: </p><input class="info-user-edit" type="text" id="Editestado" value="">
                                </div>
                                <div class="col-md-6">
                                    <p>Cidade: </p><input class="info-user-edit" type="text" id="Editcidade" value="">
                                </div>
                            </div>
                        </div>
                        <div class="menu-educacao">
                        <h5>Educação</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Escolaridade: </p><input class="info-user-edit" type="text" id="Editescolaridade" value= "">
                                </div>
                                <div class="col-md-6">
                                    <p>Instituição: </p><input class="info-user-edit" type="text" id="Editinstituicao" value= "">
                                </div>
                            </div>
                        </div>
                        <div class="menu-work">
                            <h5>Trabalho</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Empresa: </p><input class="info-user-edit" type="text" id="Editempresa" value= "">
                                </div>
                                <div class="col-md-6">
                                    <p>Cargo Atual: </p><input class="info-user-edit" type="text" id="Editcargo" value= "">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6-botoes">
                           
                            <input class="botaoredefinir" type="submit" onclick="editarPerfil()" value="Salvar">
                        </div>
                    </form>
                    <div class="col-md-6-botoes">
                          <a href= "http://localhost:8080/perfil">
                            <input class="botaovoltar" type="button" value="Voltar">
                         </a>
                    </div>
                </div>
            </div> <!--FIM FEED-->


            <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO--> 
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../scripts/editar-perfil.js"></script>
<script>

    let photo = document.getElementById('imgPhoto');
    let file = document.getElementById('fileImage');

    photo.addEventListener('click', () =>{
        file.click(); //chama o file input que eu ocultei
    });

    file.addEventListener('change', (event)=>{

        if (file.files.length <=0){
            return; 
        }
        let reader = new FileReader(); 
        reader.onload = () => { //quando ele for carregado
            photo.src = reader.result;  
        }
        reader.readAsDataURL(file.files[0]);

    });

    var axiosConfig = {
        headers: {
            Authorization: "Bearer" + localStorage.getItem("token")
           // 'Content-Type' : 'application/x-www-form-urlencoded; charset=UTF-8'
        }
    };

     axios.get('https://social-backend-tcc.herokuapp.com/user/'+ id).then(response => {
         var user = response.data;

         var Editnome = document.getElementById('Editnome');
         Editnome.setAttribute('value', user.username);

         var Editsobrenome = document.getElementById('Editsobrenome');
         Editsobrenome.setAttribute('value', user.last_name);

         var Editnascimento = document.getElementById('Editnascimento');
         Editnascimento.setAttribute('value', user.birthday);

         var Editestado = document.getElementById('Editestado');
         Editestado.setAttribute('value', user.uf);

         var Editcidade = document.getElementById('Editcidade');
         Editcidade.setAttribute('value', user.city);

         var Editescolaridade = document.getElementById('Editescolaridade');
         Editescolaridade.setAttribute('value', user.schooling);

         var Editinstituicao = document.getElementById('Editinstituicao');
         Editinstituicao.setAttribute('value', user.institution);

         var Editempresa = document.getElementById('Editempresa');
         Editempresa.setAttribute('value', user.company);

         var Editcargo = document.getElementById('Editcargo');
         Editcargo.setAttribute('value', user.current_job);
 
     }).catch(err =>{
         console.log(err);
     })
 </script>
</body>
</html>
