<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Inicio - Include</title>
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
    
</head>
<body>
    
	<%- include('./partials/menu'); %>
       <div class="body-feed">
        <div class="row-feed">
            <div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
                <%- include('./partials/user-area'); %>
                <%- include('./partials/button-side'); %>
            </div><!--FIM MENU ESQUERDO-->
            <div class="col-md-6-feed"> <!--INICIO FEED-->
              <div class="head-feed">
                <div class="publication">
                    <input class="create-publication" type="text" id="create-text" placeholder="Criar publicação">
                    <div class="icons-publication">
                        <a href="http://www.google.com" class="icon-foto">
                            <img src="/static/img/fotos.png"><p>Fotos</p>
                        </a>
                        <a href="http://www.google.com" class="icon-foto">
                        <img src="/static/img/video.png"><p>Video</p>
                        </a>
                        <a href="http://www.google.com" class="icon-foto">
                        <img src="/static/img/marcar_amigo.png"><p>Marcar</p>
                        </a>
                        <a href="http://www.google.com" class="icon-foto">
                        <img src="/static/img/localizacao.png"><p>Localização</p>
                        </a>
                        <input class="publish" type="button" onclick="publicar()" value="Publicar">
                    </div>
                </div>


                    <div class="feed-updates-zone" id="feedNoticias">
                        <div class="dados-user-publicacao">
                            <span class="dados-user" id="nomeUserPublic"></span>
                            <span class="dados-user" id="sobrenomeUserPublic"></span>
                        
                            <p id="chat" class="chat"></p>
                            <div class="dados-fake">
                            <p> Reginara Ferreira diz:</p>
                            <p> Tem vaga nova disponivel. Confira na area de vagas! </p>
                            </div>
                            <div class="dados-fake">
                                <p> Reginara Ferreira diz:</p>
                                <p> Bem vindo a nossa rede social! </p>
                            </div>
                    </div>
              </div>
            </div> <!--FIM FEED-->
            <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO-->
                
            </div><!--FIM MENU DIREITO-->
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io('http://localhost:8080');


    socket.on("mensagem", (data) => {
        var feedNoticias = document.getElementById("feedNoticias");
        var p = document.createElement("p");
        p.innerHTML = data;
        feedNoticias.append(p);
    });

    socket.on("respublicacao", (data) => {
        var chat = document.getElementById("chat");
        var p = document.createElement("p");
        p.innerHTML = data;
        chat.append(p);

    });

    function publicar(){        
        var id = localStorage.getItem("id");

    axios.get('https://social-backend-tcc.herokuapp.com/user/'+ id).then(response => {
        var user = response.data;
        var userC = document.getElementById('nomeUserPublic');
        userC.innerHTML = user.username + " ";
        var span = document.getElementById('sobrenomeUserPublic');
        span.innerHTML = user.last_name + " diz: ";
       // console.log(response.data);

    }).catch(err =>{
        console.log(err);
    })

        var create_text = document.getElementById ("create-text");

        var mensagem = create_text.value;
        socket.emit("publicacao", mensagem);
    }



</script>
</body>
</html>
