<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Minhas Páginas</title>
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
    <link rel="stylesheet" type="text/css" href="/static/minhas_paginas.css">
</head>
<body>
	<%- include('./partials/menu'); %>
    <div class="body-feed">
        <div class="row-feed">
            <div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
                <%- include('./partials/user-area'); %>
                <a href="http://localhost:8080/criar-pagina">
                    <input class="botaocriarpagina" type="button" value="Criar Página">
                </a>
            </div><!--FIM MENU ESQUERDO-->
            <div class="col-md-6-feed"> <!--INICIO FEED-->
              <div class="head-feed">
                    <div class="pages-updates-zone">
                        <%- include('./partials/search'); %>
                        <div class="painel-vagas">
                            <p class="titulo-pagina">Minhas Páginas</p>
                            <div class="tipo-pagina-li">
                                <ul class="tipo-pagina" id="paginas">
                                    
                                
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
              </div>
            </div> <!--FIM FEED-->
            <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO-->
             
            </div><!--FIM MENU DIREITO-->
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function visitarPagina(listItem) {
        console.log(listItem);
    }

    var axiosConfig = {
        headers: {
            Authorization: localStorage.getItem("token"),
           // 'Content-Type' : 'application/x-www-form-urlencoded; charset=UTF-8'
        }
    };


    axios.get("https://social-backend-tcc.herokuapp.com/pages/", axiosConfig).then(response => {
        var paginas = response.data;
        var list = document.getElementById("paginas");
        var idUser = localStorage.getItem("id");
        
        paginas.forEach(paginas =>{
            if (paginas.user == idUser){
            var item = document.createElement("li");

            item.setAttribute("data-id", paginas.id);
            item.setAttribute("data-title", paginas.title);
            item.setAttribute("data-city", paginas.city);

            item.innerHTML = paginas.title + "<br> " + paginas.city + "-" +paginas.uf;

            var verPagebtn = document.createElement("button");
            verPagebtn.innerHTML = "Visitar";
            verPagebtn.addEventListener("click", function() {
                
                visitarPagina(item);
                window.location.href = "http://localhost:8080/pagina/"+paginas.id
               /* var id = paginas.id;
                //console.log (id);
                axios.get("http://localhost:4000/pagina", id).then(response => {
                   
                    window.location.href = "http://localhost:8080/feed-noticias"
                }).catch(error =>{
                    console.log(error);
                })*/
            });

            item.appendChild(verPagebtn);

            list.appendChild(item);
        }
        });
        /* 
        var user = response.data;
        var p = document.getElementById('nomeUser');
        p.innerHTML = user.nome;
        console.log("menu" + user);
        */



    }).catch(error =>{
        console.log(error);
    })
</script>
</body>
</html>
