<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Minhas Páginas</title>
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
    <link rel="stylesheet" type="text/css" href="/static/minhas_paginas.css">
</head>
<body>
	<%- include('./partials/menu'); %>
    <div class="body-feed">
        <div class="row-feed">
            <div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
                
            </div><!--FIM MENU ESQUERDO-->
            <div class="col-md-6-feed"> <!--INICIO FEED-->
              <div class="head-feed">
                    <div class="pages-updates-zone">
                        <%- include('./partials/search'); %>
                        <div class="painel-vagas">
                            
                            <p class="titulo-pagina">Painel de Vagas</p>
                                <ul class="tipo-vaga" id="vagas">
                                
                            
                                
                                </ul>
                        
                                <a href="http://localhost:8080/feed-noticias">
                                    <input class="botaovoltar" type="button" value="Voltar">
                                </a>
                        </div>
                    </div>
		
              </div>
            </div> <!--FIM FEED-->
            <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO-->
             
            </div><!--FIM MENU DIREITO-->
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
    function verVaga(listItem) {
        console.log(listItem);
    }

    axios.get("https://social-backend-tcc.herokuapp.com/vacancys/").then(response => {
        var vagas = response.data;
        var list = document.getElementById("vagas");
        
        vagas.forEach(vagas =>{
            var item = document.createElement("li");

            item.setAttribute("data-id", vagas.id);
            item.setAttribute("data-title", vagas.title);
           // item.setAttribute("data-city", vagas.city);

            item.innerHTML = vagas.title // + "<br> " + paginas.city + "-" +paginas.uf;

            var visitarVagabtn = document.createElement("button");
            visitarVagabtn.innerHTML = "Ver mais";
            visitarVagabtn.addEventListener("click", function() {
                
                verVaga(item);
                window.location.href = "http://localhost:8080/ver-vaga-user/"+vagas.id
            });

            item.appendChild(visitarVagabtn);

            list.appendChild(item);
        });
        /* 
        var user = response.data;
        var p = document.getElementById('nomeUser');
        p.innerHTML = user.nome;
        console.log("menu" + user);
        */



    }).catch(error =>{
        console.log(error);
    })


</script>
</body>
</html>
