<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
</head>
<body>
	<%- include('./partials/menu'); %>
    <div class="body-feed">
        <div class="row-feed">
            <div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
                
                <%- include('./partials/user-area'); %>
                <div class="dados-perfil">
                    <span id="nomeUserPerfil"> </span>
                    <span id="sobrenomeUserPerfil"></span>
                
                    <p id="escolaridadeUser"></p>

                    <span id="cidadeUser"></span>
                    <span id="estadoUser"></span>
                </div>
                <div class="button-side">
                    <a href= "http://localhost:8080/editar-perfil"><input type="button" class="button-profile" value="Editar Perfil"></a>
                </div>
                <%- include('./partials/win-area'); %>
            </div> <!--FIM MENU ESQUERDO-->
            
            <div class="col-md-6-feed"> <!--INICIO FEED-->
                <div class="head-feed">
                  <div class="publication">
                      <input class="create-publication" type="text" id="create-text" placeholder="Criar publicação">
                      <div class="icons-publication">
                          <a href="http://www.google.com" class="icon-foto">
                              <img src="/static/img/fotos.png"><p>Fotos</p>
                          </a>
                          <a href="http://www.google.com" class="icon-foto">
                          <img src="/static/img/video.png"><p>Video</p>
                          </a>
                          <a href="http://www.google.com" class="icon-foto">
                          <img src="/static/img/marcar_amigo.png"><p>Marcar</p>
                          </a>
                          <a href="http://www.google.com" class="icon-foto">
                          <img src="/static/img/localizacao.png"><p>Localização</p>
                          </a>
                          <input class="publish" type="button" onclick="publicar()" value="Publicar">
                      </div>
                  </div>
  
  
                      <div class="feed-updates-zone" id="feedNoticias">
                          <div class="dados-user-publicacao">
                              <span class="dados-user" id="nomeUserPublic"></span>
                              <span class="dados-user" id="sobrenomeUserPublic"></span>
                          
                              <div id="chat" class="chat">
                                  
                              </div>
                              <div id="chatsalvo" class="chat">
                                  <ul class="tipo-pagina" id="publications">
                              
                                         
                                          
                                  </ul>
                              </div>
  
                              
                      </div>
                </div>
              </div> <!--FIM FEED-->
            
            <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO-->
                
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../scripts/perfil-usuario.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('http://localhost:8080');

    
    socket.on("retornoMsg", (data) =>{
        console.log(data);
        var chat = document.getElementById("chat");
        var p = document.createElement("p");
        p.innerHTML = data.username + " " + data.lastName + " diz:" + "<br>"+  data.msg;
        chat.append(p);

        var post = {
			text: data.msg,
			user: data.id
		}
		axios.post("https://social-backend-tcc.herokuapp.com/publication/", post)
		
		.then(response => {
			
			console.log("SUCESSO")
			
		}).catch(err => {
			console.log(err);
		});

    })

    function publicar(){

        var id = localStorage.getItem("id");

        axios.get('https://social-backend-tcc.herokuapp.com/user/'+ id).then(response => {
            var user = response.data;
            var username = user.username;
            var lastName = user.last_name;
            var idUser = user.id;

            var msgField = document.getElementById("create-text");
            var msg = msgField.value;
        
            socket.emit("msg", {msg:msg, id:idUser, username:username, lastName:lastName});
    
        }).catch(err =>{
            console.log(err);
        })
    }


    function verPublicacoes(listItem) {
        console.log(listItem);
    }

    axios.get("https://social-backend-tcc.herokuapp.com/publications/").then(response => {
        var publications = response.data;
        var usernameUser = localStorage.getItem("username");
        var list = document.getElementById("publications");

        
        publications.forEach(publications =>{
            if (publications.user_name == usernameUser){
            var item = document.createElement("li");

            var data = new Date(publications.created_date);
            let dataFormatada = ((data.getDate() )) + "/" + ((data.getMonth() + 1)) + "/" + data.getFullYear() + " " + data.getHours() + ":" + data.getMinutes(); 

            item.setAttribute("data-id", publications.id);
            item.setAttribute("data-userName", publications.user_name);
            item.setAttribute("data-userLastName", publications.user_last_name);
            item.setAttribute("data-msg", publications.text);
            item.setAttribute("data-data", dataFormatada);

        

         /*   var id = publications.user;
            var username = axios.get('https://social-backend-tcc.herokuapp.com/user/'+ id).then(response => {
                var user = response.data;
                var username = user.username;
                var lastName = user.last_name;
                localStorage.setItem("username", username);
                localStorage.setItem("lastName", lastName);
            
            }).catch(err =>{
                console.log(err);
            })

            var username = localStorage.getItem("username");
            var lastName = localStorage.getItem("lastName");*/

            
            
            item.innerHTML = publications.user_name + " " + publications.user_last_name +" diz: " + "</br>" + dataFormatada + "</br>" + publications.text ;
           

            list.appendChild(item);
        }
        });
    }).catch(error =>{
        console.log(error);
    })

</script>
</body>
</html>
