<head>
    <link rel="stylesheet" type="text/css" href="/static/user_area.css">
</head>
   <a href="http://localhost:8080/perfil">
        <img src="/static/img/school.jpg" class="img-profile" type="button">
      
        <p class="nome-user" id="namePage"></p>
    </a>
    <p class="info-user" id="typePage"></p>
    <span class="info-user" id="cityPage"> </span>
    <p class="info-user-text" id="descriptionPage"></p>